@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<!-- Ekibimiz start -->
<section class="p-5 text-center ekibimiz" id="ekibimiz">

    <div class="container">
        <h2 class="mb-5 font-weight-bold">Ekibimiz</h2>

        <hr class="ayrac"><i class="fa-solid fa-leaf iBeyaz"></i>

        <div class="card-deck">
            <div class="row">
                <div class="card shadow ekipCard">
                    <img src="img/drive-download-20230717T042838Z-001/ekip1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Ali Cangöz</h5>
                        <p class="card-text">Genel Müdür</p>
                    </div>
                </div>

                <div class="card shadow ekipCard">
                    <img src="img/drive-download-20230717T042838Z-001/ekip6.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Ali Cangöz</h5>
                        <p class="card-text">Genel Müdür</p>
                    </div>
                </div>

                <div class="card shadow ekipCard">
                    <img src="img/drive-download-20230717T042838Z-001/ekip5.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Ali Cangöz</h5>
                        <p class="card-text">Genel Müdür</p>
                    </div>
                </div>

                <div class="card shadow ekipCard">
                    <img src="img/drive-download-20230717T042838Z-001/ekip4.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Ali Cangöz</h5>
                        <p class="card-text">Genel Müdür</p>
                    </div>
                </div>



            </div>

            <div class="row">
                <div class="card shadow ekipCard">
                    <img src="img/drive-download-20230717T042838Z-001/ekip2.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Ali Cangöz</h5>
                        <p class="card-text">Genel Müdür</p>
                    </div>
                </div>

                <div class="card shadow ekipCard">
                    <img src="img/drive-download-20230717T042838Z-001/ekip3.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Ali Cangöz</h5>
                        <p class="card-text">Genel Müdür</p>
                    </div>
                </div>

                <div class="card shadow ekipCard">
                    <img src="img/drive-download-20230717T042838Z-001/ekip4.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Ali Cangöz</h5>
                        <p class="card-text">Genel Müdür</p>
                    </div>
                </div>

                <div class="card shadow ekipCard">
                    <img src="img/drive-download-20230717T042838Z-001/ekip5.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Ali Cangöz</h5>
                        <p class="card-text">Genel Müdür</p>
                    </div>
                </div>
            </div>



        </div>
    </div>

</section>
<!-- Ekibimiz end -->
