@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<!-- Galeri start -->
<section class="p-5 text-center galeri" id="galeri">

    <div class="container">
        <h2 class="mb-5 font-weight-bold">Galeri</h2>

        <hr class="ayrac"><i class="fa-solid fa-leaf iGri"></i>

        <div class="row">
            <div class="col-md-3">
                <figure class="figure">

                    <a href="img/drive-download-20230717T042838Z-001/r1.jpg">
                        <img src="img/drive-download-20230717T042838Z-001/r1.jpg" class="figure-img img-fluid rounded shadow" alt="...">
                    </a>

                </figure>
            </div>

            <div class="col-md-3">
                <figure class="figure">

                    <a href="img/drive-download-20230717T042838Z-001/r2.jpg">
                        <img src="img/drive-download-20230717T042838Z-001/r2.jpg" class="figure-img img-fluid rounded shadow" alt="...">
                    </a>

                </figure>
            </div>

            <div class="col-md-3">
                <figure class="figure">

                    <a href="img/drive-download-20230717T042838Z-001/r3.jpg">
                        <img src="img/drive-download-20230717T042838Z-001/r3.jpg" class="figure-img img-fluid rounded shadow" alt="...">
                    </a>

                </figure>
            </div>

            <div class="col-md-3">
                <figure class="figure">

                    <a href="img/drive-download-20230717T042838Z-001/r4.jpg">
                        <img src="img/drive-download-20230717T042838Z-001/r4.jpg" class="figure-img img-fluid rounded shadow" alt="...">
                    </a>

                </figure>
            </div>

        </div>

        <div class="row">
            <div class="col-md-3">
                <figure class="figure">

                    <a href="img/drive-download-20230717T042838Z-001/r5.jpg">
                        <img src="img/drive-download-20230717T042838Z-001/r5.jpg" class="figure-img img-fluid rounded shadow" alt="...">
                    </a>

                </figure>
            </div>

            <div class="col-md-3">
                <figure class="figure">

                    <a href="img/drive-download-20230717T042838Z-001/r6.jpg">
                        <img src="img/drive-download-20230717T042838Z-001/r6.jpg" class="figure-img img-fluid rounded shadow" alt="...">
                    </a>

                </figure>
            </div>

            <div class="col-md-3">
                <figure class="figure">

                    <a href="img/drive-download-20230717T042838Z-001/r7.jpg">
                        <img src="img/drive-download-20230717T042838Z-001/r7.jpg" class="figure-img img-fluid rounded shadow" alt="...">
                    </a>

                </figure>
            </div>

            <div class="col-md-3">
                <figure class="figure">

                    <a href="img/drive-download-20230717T042838Z-001/r8.jpg">
                        <img src="img/drive-download-20230717T042838Z-001/r8.jpg" class="figure-img img-fluid rounded shadow" alt="...">
                    </a>

                </figure>
            </div>

        </div>




    </div>
</section>
    </div>
</div>


<!-- Galeri finish -->
