@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<!-- İletişim start -->
<section class="p-5 text-center iletisim" id="iletisim">

    <div class="container">
        <h2 class="mb-5 font-weight-bold">İletişim</h2>

        <hr class="ayrac"><i class="fa-solid fa-leaf iBeyaz"></i>

        <form action="" class="col-md-10 text-left m-auto">
            <div class="form-group row">
                <label for="" class="col-md-4 align-self-center">Ad:</label>
                <input type="text" class="form-control col-md-8">
            </div>

            <div class="form-group row">
                <label for="" class="col-md-4 align-self-center">Soyad:</label>
                <input type="text" class="form-control col-md-8">
            </div>

            <div class="form-group row">
                <label for="" class="col-md-4 align-self-center">Email:</label>
                <input type="email" class="form-control col-md-8">
            </div>

            <div class="form-group row">
                <label for="" class="col-md-4 align-self-center">Mesajınız:</label>
                <textarea name="" id="" cols="30" rows="10" class="form-control col-md-8"></textarea>
            </div>

            <div class="form-group row">
                <!--  <button type="submit" class="col-md-3 btn btn-primary">GÖNDER</button>-->
                <a href="https://kolayik.com/" class="btn btn-1">GÖNDER</a>
            </div>
        </form>
    </div>
</section>

<!-- İletişim end -->
